<section id="content" class="container">

    <div class="results results--" data-request-time="0.368427991867">
        <div class="results__content">
            <ul class="results__list">
                <li class="widget widget--card widget--navigational" data-position="0">
                    <div class="widget--navigational__page">
                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=0&r=1620970971486&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fpolitico%2Fjair-bolsonaro%2F&syn=False&key=6cb8074a6df1a744a773a0db9a276fab" class="widget--navigational__title cor-produto">Jair Bolsonaro</a>


                        <p class="widget--navigational__publisher">g1</p>



                    </div>


                </li>


                <li class="widget widget--card widget--info" data-position="1">
                    <div class="widget--info__meta--card">
                        <span>Bom Dia Pará</span>
                        <span>&bull;</span>
                        <span>23/04/2021 10h29</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=1&r=1620970971722&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9459303%2F&syn=False&key=e43c073be9008c28647bcbdaa45680c4">

                            <img src="//s04.video.glbimg.com/x216/9459303.jpg">


                            <div class="widget--info__media-time">00:41</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">Bom Dia Pará</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=1&r=1620970971723&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9459303%2F&syn=False&key=e43c073be9008c28647bcbdaa45680c4">
                            <div class="widget--info__title product-color ">
                                Presidente participa em Belém da entrega de alimentos do "Brasil Fraterno"
                            </div>


                            <p class="widget--info__description"><span><em>Jair</em> <em>Messias</em> <em>Bolsonaro</em> (Sem partido), chega à Belém na tarde desta sexta-feira, dia 23 de abril, para participar, às 15h30, da entrega de cestas de alimentos do programa Brasil Fraterno.</span></p>


                            <div class="widget--info__meta">23/04/2021 10h29</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="2">
                    <div class="widget--info__meta--card">
                        <span>AL TV 2ª Edição</span>
                        <span>&bull;</span>
                        <span>há 5 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=2&r=1620970971726&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9514455%2F&syn=False&key=a5779b3cc4d211eddaf5faae1f8a8b74">

                            <img src="//s04.video.glbimg.com/x216/9514455.jpg">


                            <div class="widget--info__media-time">01:57</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">AL TV 2ª Edição</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=2&r=1620970971727&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9514455%2F&syn=False&key=a5779b3cc4d211eddaf5faae1f8a8b74">
                            <div class="widget--info__title product-color ">
                                Presidente Jair Bolsonaro inaugura obras em Alagoas
                            </div>


                            <p class="widget--info__description">Ele participou de solenidade em Maceió e no sertão do estado.</p>


                            <div class="widget--info__meta">há 5 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="3">
                    <div class="widget--info__meta--card">
                        <span>G1 Política</span>
                        <span>&bull;</span>
                        <span>há 11 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=3&r=1620970971730&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fvideo%2Frenan-calheiros-responde-a-jair-bolsonaro-que-o-chamou-de-vagabundo-9513329.ghtml&syn=False&key=98bbed63c92735ac64af13515c71952e">

                            <img src="//s02.video.glbimg.com/x216/9513329.jpg">


                            <div class="widget--info__media-time">00:52</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1 Política</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=3&r=1620970971731&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fvideo%2Frenan-calheiros-responde-a-jair-bolsonaro-que-o-chamou-de-vagabundo-9513329.ghtml&syn=False&key=98bbed63c92735ac64af13515c71952e">
                            <div class="widget--info__title product-color ">
                                Renan Calheiros responde a Jair Bolsonaro, que o chamou de 'vagabundo'
                            </div>


                            <p class="widget--info__description"><span>Relator da CPI da Covid, senador Renan Calheiros (MDB-AL) responde ao presidente <em>Jair</em> <em>Bolsonaro</em>, que o chamou de 'vagabundo'</span></p>


                            <div class="widget--info__meta">há 11 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="4">
                    <div class="widget--info__meta--card">
                        <span>G1 AL</span>
                        <span>&bull;</span>
                        <span>há 16 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=4&r=1620970971734&u=https%3A%2F%2Fg1.globo.com%2Fal%2Falagoas%2Fvideo%2Fjair-bolsonaro-chega-a-maceio-para-inauguracao-de-conjunto-habitacional-9512056.ghtml&syn=False&key=1cf4903cd0eb3a5d30372f7caa61f162">

                            <img src="//s01.video.glbimg.com/x216/9512056.jpg">


                            <div class="widget--info__media-time">00:06</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1 AL</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=4&r=1620970971735&u=https%3A%2F%2Fg1.globo.com%2Fal%2Falagoas%2Fvideo%2Fjair-bolsonaro-chega-a-maceio-para-inauguracao-de-conjunto-habitacional-9512056.ghtml&syn=False&key=1cf4903cd0eb3a5d30372f7caa61f162">
                            <div class="widget--info__title product-color ">
                                Jair Bolsonaro chega a Maceió para inauguração de conjunto habitacional
                            </div>


                            <p class="widget--info__description">Presidente inaugura 3 obras em Alagoas.</p>


                            <div class="widget--info__meta">há 16 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="5">
                    <div class="widget--info__meta--card">
                        <span>Jornal da Globo</span>
                        <span>&bull;</span>
                        <span>há 1 dia</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=5&r=1620970971737&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9511410%2F&syn=False&key=60c004588290b5076dc70f306f4dd453">

                            <img src="//s03.video.glbimg.com/x216/9511410.jpg">


                            <div class="widget--info__media-time">01:53</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">Jornal da Globo</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=5&r=1620970971739&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9511410%2F&syn=False&key=60c004588290b5076dc70f306f4dd453">
                            <div class="widget--info__title product-color ">
                                Datafolha: 45% reprovam governo de Jair Bolsonaro e 24% aprovam
                            </div>


                            <p class="widget--info__description"><span>Nova pesquisa Datafolha divulgada na noite desta quarta-feira (12) mostra que a aprovação do presidente <em>Jair</em> <em>Bolsonaro</em> caiu 6 pontos percentuais - é o pior índice desde o início de seu mandato.</span></p>


                            <div class="widget--info__meta">há 1 dia</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="6">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 53 minutos</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=6&r=1620970971741&u=https%3A%2F%2Fg1.globo.com%2Fjornal-nacional%2Fnoticia%2F2021%2F05%2F13%2Fportaria-autoriza-servidores-federais-aposentados-e-militares-da-reserva-a-receber-salarios-acima-do-teto.ghtml&syn=False&key=7786e1bbc909c5c8cdaa1685093146a5">
                            <div class="widget--info__title product-color ">
                                Portaria autoriza servidores federais aposentados e militares da reserva a receber salários acima do teto
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    ..., além do presidente <em>Jair</em> <em>Bolsonaro</em>.

                                    A nova regra já está em vigor e vai permitir que, a partir de maio, um grupo de servidores receba salários...
                                </span> — <span>... <em>Jair</em> <em>Bolsonaro</em> se encaixam nessa situação e serão beneficiados pela nova regra. Até agora, o ministro da Defesa, Braga Netto...</span>
                            </p>


                            <div class="widget--info__meta">há 53 minutos</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="7">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 2 dias</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=7&r=1620970971745&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsorocaba-jundiai%2Fnoticia%2F2021%2F05%2F11%2Fcamara-de-sorocaba-aprova-projetos-que-tornam-jair-e-eduardo-bolsonaro-cidadaos-sorocabanos.ghtml&syn=False&key=14a253961f3b66d5e132836685909a81">

                            <img src="//s2.glbimg.com/agCJdZ0u6JNw4cIf8wbphVYAvBY=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/j/a/lJOQr6QVWHPzmK7cV9EQ/age20200331013.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=7&r=1620970971747&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsorocaba-jundiai%2Fnoticia%2F2021%2F05%2F11%2Fcamara-de-sorocaba-aprova-projetos-que-tornam-jair-e-eduardo-bolsonaro-cidadaos-sorocabanos.ghtml&syn=False&key=14a253961f3b66d5e132836685909a81">
                            <div class="widget--info__title product-color ">
                                Câmara de Sorocaba aprova projetos que tornam Jair e Eduardo Bolsonaro cidadãos sorocabanos
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    Presidente da República, <em>Jair</em> <em>Bolsonaro</em>, tendo ao fundo seu filho, o deputado federal Eduardo <em>Bolsonaro</em>
                                    DIDA SAMPAIO/ESTADÃO...
                                </span> — <span>
                                    ... CONTEÚDO
                                    A Câmara de Sorocaba (SP) aprovou, nesta terça-feira (11), dois projetos que tornam o presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 2 dias</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="8">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 5 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=8&r=1620970971751&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F13%2Fapos-depoimento-da-pfizer-renan-ve-participacao-indevida-de-carlos-bolsonaro-em-tratativas.ghtml&syn=False&key=c7f4abae33c679f768566f298f99995d">

                            <img src="//s2.glbimg.com/LFi4iNN3cERZmLZq16TJs_gwMSU=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/i/3/rijLLRRGiN9TbES9K0xg/51174153932-db84c0c53e-z.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=8&r=1620970971753&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F13%2Fapos-depoimento-da-pfizer-renan-ve-participacao-indevida-de-carlos-bolsonaro-em-tratativas.ghtml&syn=False&key=c7f4abae33c679f768566f298f99995d">
                            <div class="widget--info__title product-color ">
                                Após depoimento da Pfizer, Renan vê participação indevida de Carlos Bolsonaro em tratativas
                            </div>


                            <p class="widget--info__description">
                                <span>... depoimento nesta quinta à CPI. Aos parlamentares, disse que Carlos, filho do presidente <em>Jair</em> <em>Bolsonaro</em> e sem cargo no governo, e Filipe...</span> — <span>
                                    ... participação indevida do vereador Carlos <em>Bolsonaro</em> (Republicanos-RJ) em tratativas do governo federal.
                                    Maurillo prestou...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 5 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="9">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 2 dias</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=9&r=1620970971757&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F11%2Fna-cpi-da-covid-barra-torres-apontara-medica-como-peca-chave-do-ministerio-paralelo-da-saude-do-governo-jair-bolsonaro.ghtml&syn=False&key=dc25eb74e9a475f461de535912b89555">

                            <img src="//s2.glbimg.com/ZAyrBHObi4wyaeEuyfeJAcZ_hAs=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/q/w/3bzOnIRbK0Lspcl3bTuw/medica.png">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=9&r=1620970971759&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F11%2Fna-cpi-da-covid-barra-torres-apontara-medica-como-peca-chave-do-ministerio-paralelo-da-saude-do-governo-jair-bolsonaro.ghtml&syn=False&key=dc25eb74e9a475f461de535912b89555">
                            <div class="widget--info__title product-color ">
                                Na CPI da Covid, Barra Torres apontará médica como peça-chave do 'Ministério Paralelo da Saúde' do governo Jair Bolsonaro
                            </div>


                            <p class="widget--info__description"><span>... os senadores da CPI da Covid confirmarem a existência do "Ministério Paralelo da Saúde "do governo <em>Jair</em> <em>Bolsonaro</em> e ainda apontará...</span></p>


                            <div class="widget--info__meta">há 2 dias</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="10">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>21/04/2021 12h45</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=10&r=1620970971762&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F20%2Fpresidente-bolsonaro-deve-receber-titulo-de-cidadao-amazonense-aprovado-pela-assembleia-legislativa.ghtml&syn=False&key=38b6075c17c7e14eed9eb5d7119ae2a8">

                            <img src="//s2.glbimg.com/SvGd43_oqGTu7VMBcv5ZMzos8so=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/B/f/Ks4VAAQXyBTvAiGjrr4A/ancamento-da-pedra-fundamental-para-a-duplicacao-da-br-469santos-fc2708200923.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=10&r=1620970971764&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F20%2Fpresidente-bolsonaro-deve-receber-titulo-de-cidadao-amazonense-aprovado-pela-assembleia-legislativa.ghtml&syn=False&key=38b6075c17c7e14eed9eb5d7119ae2a8">
                            <div class="widget--info__title product-color ">
                                Presidente Bolsonaro deve receber título de Cidadão Amazonense aprovado pela Assembleia Legislativa
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    Presidente <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>
                                    Carolina Antunes/Agência Brasil
                                    A Assembleia Legislativa do Amazonas (Aleam) aprovou, na manhã...
                                </span> — <span>... desta terça-feira (20), Projeto de Lei (PL) que concede o Título de Cidadão ao Presidente da República, <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>...</span>
                            </p>


                            <div class="widget--info__meta">21/04/2021 12h45</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="11">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 2 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=11&r=1620970971768&u=https%3A%2F%2Fg1.globo.com%2Feconomia%2Fblog%2Fana-flor%2Fpost%2F2021%2F05%2F13%2Fcpi-da-covid-deve-aprovar-convocacao-de-carlos-bolsonaro.ghtml&syn=False&key=1dd3d07e1bd252e97f49b45f4314f6f8">

                            <img src="//s2.glbimg.com/CD9gEWGNCuI6UV1jBs0XP6Kap7w=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/o/w/D8vBC2RGmLN6WhDB5VZg/carlosbolsonaro2000.gif">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=11&r=1620970971770&u=https%3A%2F%2Fg1.globo.com%2Feconomia%2Fblog%2Fana-flor%2Fpost%2F2021%2F05%2F13%2Fcpi-da-covid-deve-aprovar-convocacao-de-carlos-bolsonaro.ghtml&syn=False&key=1dd3d07e1bd252e97f49b45f4314f6f8">
                            <div class="widget--info__title product-color ">
                                CPI da Covid deve aprovar convocação de Carlos Bolsonaro
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    O vereador Carlos <em>Bolsonaro</em> (Republicanos-RJ), filho do presidente <em>Jair</em> <em>Bolsonaro</em>
                                    Caio Cesar/CMRJ
                                    O senador Alessandro Vieira...
                                </span> — <span>... do vereador Carlos <em>Bolsonaro</em> (Republicanos-RJ), filho do presidente <em>Jair</em> <em>Bolsonaro</em>. O blog apurou que a CPI deve aprovar o requerimento...</span>
                            </p>


                            <div class="widget--info__meta">há 2 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="12">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 5 horas</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=12&r=1620970971773&u=https%3A%2F%2Fg1.globo.com%2Fal%2Falagoas%2Fnoticia%2F2021%2F05%2F13%2Fqueremos-votar-e-ter-a-certeza-de-que-esse-voto-e-confirmado-diz-lira-ao-defender-voto-impresso.ghtml&syn=False&key=1898b2b524b72da0088b6a36f7d1c371">
                            <div class="widget--info__title product-color ">
                                'Queremos votar e ter a certeza de que esse voto é confirmado', diz Lira ao defender voto impresso
                            </div>


                            <p class="widget--info__description">
                                <span>... da Tapera, na companhia do presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido). Conforme o Blog da Ana Flor, <em>Bolsonaro</em> indicou...</span> — <span>
                                    Arthur Lira defende voto impresso durante evento com <em>Bolsonaro</em> no Sertão de Alagoas
                                    O presidente da Câmara dos Deputados, Arthur...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 5 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="13">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 1 hora</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=13&r=1620970971775&u=https%3A%2F%2Fg1.globo.com%2Fjornal-nacional%2Fnoticia%2F2021%2F05%2F13%2Fdatafolha-aprovacao-de-bolsonaro-atinge-a-pior-marca-desde-o-inicio-do-governo.ghtml&syn=False&key=3d477e6e9b53ba49e62c4ca2e675f0b9">
                            <div class="widget--info__title product-color ">
                                Datafolha: aprovação de Bolsonaro atinge a pior marca desde o início do governo
                            </div>


                            <p class="widget--info__description">
                                <span>... pesquisa Datafolha sobre a avaliação do presidente <em>Jair</em> <em>Bolsonaro</em>. A aprovação do presidente atingiu a pior marca desde o início...</span> — <span>
                                    Datafolha: aprovação de <em>Bolsonaro</em> atinge a pior marca desde o início do governo
                                    O jornal “Folha de S.Paulo” divulgou uma nova...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 1 hora</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="14">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 53 minutos</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=14&r=1620970971779&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsao-paulo%2Fnoticia%2F2021%2F05%2F13%2Fmanifestantes-protestam-contra-racismo-genocidio-negro-e-presidente-bolsonaro-na-avenida-paulista.ghtml&syn=False&key=9946aee32cf5a1905c575b22d4e1d2d0">

                            <img src="//s2.glbimg.com/jvRS5a85toYgWLZPVSnvf6PHhTE=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/O/Z/g1QcZcR8WRLP1188ezbQ/fta20210513219.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=14&r=1620970971781&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsao-paulo%2Fnoticia%2F2021%2F05%2F13%2Fmanifestantes-protestam-contra-racismo-genocidio-negro-e-presidente-bolsonaro-na-avenida-paulista.ghtml&syn=False&key=9946aee32cf5a1905c575b22d4e1d2d0">
                            <div class="widget--info__title product-color ">
                                Manifestantes protestam contra racismo, genocí­dio negro e presidente Bolsonaro na Avenida Paulista
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    ... o impeachment do presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido).
                                    Ato também cobrou justiça pelos mortos da operação realizada pela Polícia Civil...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 53 minutos</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="15">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>22/04/2021 22h50</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=15&r=1620970971785&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F22%2Fprofessores-e-historiadores-devolvem-honrarias-em-protesto-contra-titulo-de-cidadao-do-am-a-bolsonaro.ghtml&syn=False&key=67729f34b724cb4c3d4fc123729b5965">

                            <img src="//s2.glbimg.com/jg6TkH1orf-hF9m-vfhyt3CNyMw=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/N/9/hi6XA0RYqosHWtQVcKew/professoreshistoriadoresbolsonaro.png">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=15&r=1620970971787&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F22%2Fprofessores-e-historiadores-devolvem-honrarias-em-protesto-contra-titulo-de-cidadao-do-am-a-bolsonaro.ghtml&syn=False&key=67729f34b724cb4c3d4fc123729b5965">
                            <div class="widget--info__title product-color ">
                                Professores e historiadores devolvem honrarias em protesto contra título de cidadão do AM a Bolsonaro
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    ... de não merecimento da concessão do título à <em>Bolsonaro</em>.
                                    Presidente <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>.
                                    Carolina Antunes/Agência Brasil
                                    "O governo...
                                </span> — <span>... contra a concessão do título de Cidadão do Amazonas ao presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido). O ato aconteceu nesta quinta-feira (22...</span>
                            </p>


                            <div class="widget--info__meta">22/04/2021 22h50</div>
                        </a>
                    </div>
                </li>

            </ul>



            <div class="pagination widget">
                <a href="?q=jair+messias+bolsonaro&page=2" class="fundo-cor-produto pagination__load-more">Veja mais</a>
            </div>


        </div>
    </div>

</section>