<section id="content" class="container">

    <div class="results results--" data-request-time="0.402290821075">
        <div class="results__content">
            <ul class="results__list">
                <li class="widget widget--card widget--navigational" data-position="0">
                    <div class="widget--navigational__page">
                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=0&r=1620801690210&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fpolitico%2Fjair-bolsonaro%2F&syn=False&key=6cb8074a6df1a744a773a0db9a276fab" class="widget--navigational__title cor-produto">Jair Bolsonaro</a>


                        <p class="widget--navigational__publisher">g1</p>



                    </div>


                </li>


                <li class="widget widget--card widget--info" data-position="1">
                    <div class="widget--info__meta--card">
                        <span>Bom Dia Pará</span>
                        <span>&bull;</span>
                        <span>23/04/2021 10h29</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=1&r=1620801690470&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9459303%2F&syn=False&key=e43c073be9008c28647bcbdaa45680c4">

                            <img src="//s04.video.glbimg.com/x216/9459303.jpg">


                            <div class="widget--info__media-time">00:41</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">Bom Dia Pará</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=1&r=1620801690472&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9459303%2F&syn=False&key=e43c073be9008c28647bcbdaa45680c4">
                            <div class="widget--info__title product-color ">
                                Presidente participa em Belém da entrega de alimentos do "Brasil Fraterno"
                            </div>


                            <p class="widget--info__description"><span><em>Jair</em> <em>Messias</em> <em>Bolsonaro</em> (Sem partido), chega à Belém na tarde desta sexta-feira, dia 23 de abril, para participar, às 15h30, da entrega de cestas de alimentos do programa Brasil Fraterno.</span></p>


                            <div class="widget--info__meta">23/04/2021 10h29</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="2">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 12 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=2&r=1620801690476&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsorocaba-jundiai%2Fnoticia%2F2021%2F05%2F11%2Fcamara-de-sorocaba-aprova-projetos-que-tornam-jair-e-eduardo-bolsonaro-cidadaos-sorocabanos.ghtml&syn=False&key=14a253961f3b66d5e132836685909a81">

                            <img src="//s2.glbimg.com/agCJdZ0u6JNw4cIf8wbphVYAvBY=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/j/a/lJOQr6QVWHPzmK7cV9EQ/age20200331013.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=2&r=1620801690478&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsorocaba-jundiai%2Fnoticia%2F2021%2F05%2F11%2Fcamara-de-sorocaba-aprova-projetos-que-tornam-jair-e-eduardo-bolsonaro-cidadaos-sorocabanos.ghtml&syn=False&key=14a253961f3b66d5e132836685909a81">
                            <div class="widget--info__title product-color ">
                                Câmara de Sorocaba aprova projetos que tornam Jair e Eduardo Bolsonaro cidadãos sorocabanos
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    Presidente da República, <em>Jair</em> <em>Bolsonaro</em>, tendo ao fundo seu filho, o deputado federal Eduardo <em>Bolsonaro</em>
                                    DIDA SAMPAIO/ESTADÃO...
                                </span> — <span>
                                    ... CONTEÚDO
                                    A Câmara de Sorocaba (SP) aprovou, nesta terça-feira (11), dois projetos que tornam o presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 12 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="3">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 19 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=3&r=1620801690482&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F11%2Fna-cpi-da-covid-barra-torres-apontara-medica-como-peca-chave-do-ministerio-paralelo-da-saude-do-governo-jair-bolsonaro.ghtml&syn=False&key=dc25eb74e9a475f461de535912b89555">

                            <img src="//s2.glbimg.com/ZAyrBHObi4wyaeEuyfeJAcZ_hAs=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/q/w/3bzOnIRbK0Lspcl3bTuw/medica.png">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=3&r=1620801690484&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F11%2Fna-cpi-da-covid-barra-torres-apontara-medica-como-peca-chave-do-ministerio-paralelo-da-saude-do-governo-jair-bolsonaro.ghtml&syn=False&key=dc25eb74e9a475f461de535912b89555">
                            <div class="widget--info__title product-color ">
                                Na CPI da Covid, Barra Torres apontará médica como peça-chave do 'Ministério Paralelo da Saúde' do governo Jair Bolsonaro
                            </div>


                            <p class="widget--info__description"><span>... os senadores da CPI da Covid confirmarem a existência do "Ministério Paralelo da Saúde "do governo <em>Jair</em> <em>Bolsonaro</em> e ainda apontará...</span></p>


                            <div class="widget--info__meta">há 19 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="4">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 1 hora</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=4&r=1620801690487&u=https%3A%2F%2Fg1.globo.com%2Fjornal-nacional%2Fnoticia%2F2021%2F05%2F11%2Fsenado-aprova-projeto-do-governo-que-torna-pronampe-permanente.ghtml&syn=False&key=be3b873c34c04e02ec63767a40a82e11">
                            <div class="widget--info__title product-color ">
                                Senado aprova projeto do governo que torna Pronampe permanente
                            </div>


                            <p class="widget--info__description"><span>... parado desde dezembro. A proposta agora segue para a sanção do presidente <em>Jair</em> <em>Bolsonaro</em>.  ...</span></p>


                            <div class="widget--info__meta">há 1 hora</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="5">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>21/04/2021 12h45</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=5&r=1620801690491&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F20%2Fpresidente-bolsonaro-deve-receber-titulo-de-cidadao-amazonense-aprovado-pela-assembleia-legislativa.ghtml&syn=False&key=38b6075c17c7e14eed9eb5d7119ae2a8">

                            <img src="//s2.glbimg.com/SvGd43_oqGTu7VMBcv5ZMzos8so=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/B/f/Ks4VAAQXyBTvAiGjrr4A/ancamento-da-pedra-fundamental-para-a-duplicacao-da-br-469santos-fc2708200923.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=5&r=1620801690493&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F20%2Fpresidente-bolsonaro-deve-receber-titulo-de-cidadao-amazonense-aprovado-pela-assembleia-legislativa.ghtml&syn=False&key=38b6075c17c7e14eed9eb5d7119ae2a8">
                            <div class="widget--info__title product-color ">
                                Presidente Bolsonaro deve receber título de Cidadão Amazonense aprovado pela Assembleia Legislativa
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    Presidente <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>
                                    Carolina Antunes/Agência Brasil
                                    A Assembleia Legislativa do Amazonas (Aleam) aprovou, na manhã...
                                </span> — <span>... desta terça-feira (20), Projeto de Lei (PL) que concede o Título de Cidadão ao Presidente da República, <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>...</span>
                            </p>


                            <div class="widget--info__meta">21/04/2021 12h45</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="6">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 8 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=6&r=1620801690496&u=https%3A%2F%2Fg1.globo.com%2Fac%2Facre%2Fnoticia%2F2021%2F05%2F11%2Ffantasiado-de-jacare-estudante-do-acre-e-vacinado-contra-covid-19-uma-piada-e-critica.ghtml&syn=False&key=b29e6ede477a0cbb01e29cc306a55a3b">

                            <img src="//s2.glbimg.com/mhizGiqOY2NsQA8YSc_Yfcibakk=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/V/SEgwxTQWuw7FAQbtIyyw/vac.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=6&r=1620801690498&u=https%3A%2F%2Fg1.globo.com%2Fac%2Facre%2Fnoticia%2F2021%2F05%2F11%2Ffantasiado-de-jacare-estudante-do-acre-e-vacinado-contra-covid-19-uma-piada-e-critica.ghtml&syn=False&key=b29e6ede477a0cbb01e29cc306a55a3b">
                            <div class="widget--info__title product-color ">
                                Fantasiado de jacaré, estudante do Acre é vacinado contra Covid-19: 'uma piada e crítica'
                            </div>


                            <p class="widget--info__description"><span>... das pessoas, mas que o ato também foi uma ironia a um comentário do presidente da República, <em>Jair</em> <em>Bolsonaro</em>, em dezembro de 2020...</span></p>


                            <div class="widget--info__meta">há 8 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="7">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 3 horas</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=7&r=1620801690501&u=https%3A%2F%2Fg1.globo.com%2Fjornal-nacional%2Fnoticia%2F2021%2F05%2F11%2Fpresidente-da-anvisa-diverge-de-bolsonaro-na-cpi-da-covid.ghtml&syn=False&key=ec6d5f1dd4b36f3b32b003811f71a3c8">
                            <div class="widget--info__title product-color ">
                                Presidente da Anvisa diverge de Bolsonaro na CPI da Covid
                            </div>


                            <p class="widget--info__description"><span>...) por mais de seis horas na CPI da Covid e em vários momentos discordou da postura do presidente <em>Jair</em> <em>Bolsonaro</em> no enfrentamento...</span> — <span>... <em>Jair</em> <em>Bolsonaro</em> defende o uso da cloroquina. Barra Torres confirmou que foi contra a mudança na bula, que, na prática, nunca aconteceu...</span></p>


                            <div class="widget--info__meta">há 3 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="8">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 5 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=8&r=1620801690505&u=https%3A%2F%2Fg1.globo.com%2Fbemestar%2Fcoronavirus%2Fnoticia%2F2021%2F05%2F11%2Fcovid-19-a-cientista-detetive-que-acendeu-alerta-sobre-hidroxicloroquina.ghtml&syn=False&key=50a7a58c8e5fcc8233c53d5183e7b324">

                            <img src="//s2.glbimg.com/JWGt0JKaS4btCbmMWByAhhw_Rpk=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/o/8/3QG4eURe6eVwGJ1NLc4A/cloroquina.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=8&r=1620801690507&u=https%3A%2F%2Fg1.globo.com%2Fbemestar%2Fcoronavirus%2Fnoticia%2F2021%2F05%2F11%2Fcovid-19-a-cientista-detetive-que-acendeu-alerta-sobre-hidroxicloroquina.ghtml&syn=False&key=50a7a58c8e5fcc8233c53d5183e7b324">
                            <div class="widget--info__title product-color ">
                                Covid-19: a cientista 'detetive' que acendeu alerta sobre hidroxicloroquina
                            </div>


                            <p class="widget--info__description"><span>... Trump, publicamente promovidos pelo presidente brasileiro <em>Jair</em> <em>Bolsonaro</em>, incorporados no criticado "tratamento precoce...</span></p>


                            <div class="widget--info__meta">há 5 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="9">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>22/04/2021 22h50</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=9&r=1620801690511&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F22%2Fprofessores-e-historiadores-devolvem-honrarias-em-protesto-contra-titulo-de-cidadao-do-am-a-bolsonaro.ghtml&syn=False&key=67729f34b724cb4c3d4fc123729b5965">

                            <img src="//s2.glbimg.com/jg6TkH1orf-hF9m-vfhyt3CNyMw=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/N/9/hi6XA0RYqosHWtQVcKew/professoreshistoriadoresbolsonaro.png">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=9&r=1620801690513&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F22%2Fprofessores-e-historiadores-devolvem-honrarias-em-protesto-contra-titulo-de-cidadao-do-am-a-bolsonaro.ghtml&syn=False&key=67729f34b724cb4c3d4fc123729b5965">
                            <div class="widget--info__title product-color ">
                                Professores e historiadores devolvem honrarias em protesto contra título de cidadão do AM a Bolsonaro
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    ... de não merecimento da concessão do título à <em>Bolsonaro</em>.
                                    Presidente <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>.
                                    Carolina Antunes/Agência Brasil
                                    "O governo...
                                </span> — <span>... contra a concessão do título de Cidadão do Amazonas ao presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido). O ato aconteceu nesta quinta-feira (22...</span>
                            </p>


                            <div class="widget--info__meta">22/04/2021 22h50</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="10">
                    <div class="widget--info__meta--card">
                        <span>Jornal de Rondônia 1ª Edição</span>
                        <span>&bull;</span>
                        <span>há 3 dias</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=10&r=1620801690516&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9499709%2F&syn=False&key=cc9ef69a439def97b0274cc8a311966f">

                            <img src="//s02.video.glbimg.com/x216/9499709.jpg">


                            <div class="widget--info__media-time">03:27</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">Jornal de Rondônia 1ª Edição</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=10&r=1620801690517&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9499709%2F&syn=False&key=cc9ef69a439def97b0274cc8a311966f">
                            <div class="widget--info__title product-color ">
                                Presidente Jair Bolsonaro estava presente na inauguração da Ponte do Abunã
                            </div>


                            <p class="widget--info__description">Presidente falou sobre pandemia e sobre importância do comércio.</p>


                            <div class="widget--info__meta">há 3 dias</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="11">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 2 horas</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=11&r=1620801690520&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F11%2Fem-contraste-com-ministro-queiroga-barra-torres-expoe-na-cpi-divergencias-com-bolsonaro.ghtml&syn=False&key=164a2871024f86405585cb0b118d3947">
                            <div class="widget--info__title product-color ">
                                Em contraste com ministro Queiroga, Barra Torres expõe na CPI divergências com Bolsonaro
                            </div>


                            <p class="widget--info__description">
                                <span>...), Antônio Barra Torres, expôs nesta terça-feira (11), em depoimento à CPI da Covid, divergências com o presidente <em>Jair</em> <em>Bolsonaro</em>...</span> — <span>
                                    ... da Covid;
                                    que se arrependeu de ter comparecido a manifestação política com o presidente <em>Jair</em> <em>Bolsonaro</em> e que não fará mais isso.
                                    CPI...
                                </span>
                            </p>


                            <div class="widget--info__meta">há 2 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="12">
                    <div class="widget--info__meta--card">
                        <span>Jornal do Acre 1ª edição</span>
                        <span>&bull;</span>
                        <span>há 5 dias</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=12&r=1620801690522&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9494348%2F&syn=False&key=c07a4fddd1890dac3a88357901f9eacd">

                            <img src="//s01.video.glbimg.com/x216/9494348.jpg">


                            <div class="widget--info__media-time">01:26</div>

                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">Jornal do Acre 1ª edição</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=12&r=1620801690524&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9494348%2F&syn=False&key=c07a4fddd1890dac3a88357901f9eacd">
                            <div class="widget--info__title product-color ">
                                Presidente Jair Bolsonaro vai participar de inauguração da Ponte sobre o Rio Madeira
                            </div>


                            <p class="widget--info__description"><span>Presidente <em>Jair</em> <em>Bolsonaro</em> vai participar de inauguração da Ponte sobre o Rio Madeira</span></p>


                            <div class="widget--info__meta">há 5 dias</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="13">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 9 horas</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=13&r=1620801690527&u=https%3A%2F%2Fg1.globo.com%2Ffato-ou-fake%2Fnoticia%2F2021%2F05%2F11%2Fe-fake-que-primeira-colheita-de-trigo-do-nordeste-ocorreu-no-governo-bolsonaro.ghtml&syn=False&key=e0b55f4fc6d4676eea4e423ec45632f2">

                            <img src="//s2.glbimg.com/Z9EmM6FsJUE934ZWVaHZpQ1uuxI=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/2/X/ABEgGoToeFmxJE9PIJEg/header-materia-fato-ou-fake-trigo-nordeste.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=13&r=1620801690529&u=https%3A%2F%2Fg1.globo.com%2Ffato-ou-fake%2Fnoticia%2F2021%2F05%2F11%2Fe-fake-que-primeira-colheita-de-trigo-do-nordeste-ocorreu-no-governo-bolsonaro.ghtml&syn=False&key=e0b55f4fc6d4676eea4e423ec45632f2">
                            <div class="widget--info__title product-color ">
                                É #FAKE que primeira colheita de trigo do Nordeste ocorreu no governo Bolsonaro
                            </div>


                            <p class="widget--info__description"><span>Circula pelas redes sociais uma mensagem que afirma que o Nordeste colheu trigo pela primeira vez graças ao governo <em>Bolsonaro</em>...</span></p>


                            <div class="widget--info__meta">há 9 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="14">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>há 6 horas</span>
                    </div>





                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=14&r=1620801690532&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F11%2Fse-pensasse-mais-5-minutos-nao-teria-feito-diz-barra-torres-sobre-aparicao-ao-lado-de-bolsonaro-em-manifestacao.ghtml&syn=False&key=9b18215b6ef84cbb81374aca8f326b0d">
                            <div class="widget--info__title product-color ">
                                'Se pensasse mais 5 minutos não teria feito', diz Barra Torres sobre aparição em ato com Bolsonaro
                            </div>


                            <p class="widget--info__description"><span>...) que se arrependeu de ter aparecido ao lado do presidente <em>Jair</em> <em>Bolsonaro</em> em uma manifestação no início da pandemia, em março de 2020...</span> — <span>... do Planalto para conversar em particular com <em>Bolsonaro</em>. Entretanto, "havia, sim, uma manifestação na área em frente" e, segundo Barra...</span></p>


                            <div class="widget--info__meta">há 6 horas</div>
                        </a>
                    </div>
                </li>

                <li class="widget widget--card widget--info" data-position="15">
                    <div class="widget--info__meta--card">
                        <span>G1</span>
                        <span>&bull;</span>
                        <span>31/03/2021 17h38</span>
                    </div>


                    <div class="widget--info__media-container ">
                        <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=15&r=1620801690535&u=https%3A%2F%2Fg1.globo.com%2Fto%2Ftocantins%2Fpost%2F2021%2F03%2F31%2Fmpf-arquiva-inquerito-contra-sociologo-que-comparou-bolsonaro-a-pequi-roido-em-outdoor.ghtml&syn=False&key=96450fc7976d6819979ace6af7f476e9">

                            <img src="//s2.glbimg.com/nAcSsr9os9Pec8L9cLyHK4s6BCw=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/B/9/zB7jKESoa2MWe1rLORBQ/2.jpg">


                        </a>
                    </div>




                    <div class="widget--info__text-container">

                        <div class="widget--info__header">G1</div>


                        <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=15&r=1620801690537&u=https%3A%2F%2Fg1.globo.com%2Fto%2Ftocantins%2Fpost%2F2021%2F03%2F31%2Fmpf-arquiva-inquerito-contra-sociologo-que-comparou-bolsonaro-a-pequi-roido-em-outdoor.ghtml&syn=False&key=96450fc7976d6819979ace6af7f476e9">
                            <div class="widget--info__title product-color ">
                                MPF arquiva inquérito contra sociólogo que comparou Bolsonaro a pequi roído em outdoor
                            </div>


                            <p class="widget--info__description">
                                <span>
                                    ... que as mensagens tinham o objetivo de ofender a honra de <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>, mas buscavam externar a insatisfação política.
                                    O MPF...
                                </span> — <span>... investigados por causa de dois outdoors, publicados no ano passado, que comparavam o presidente <em>Jair</em> <em>Bolsonaro</em> (Sem partido...</span>
                            </p>


                            <div class="widget--info__meta">31/03/2021 17h38</div>
                        </a>
                    </div>
                </li>

            </ul>



            <div class="pagination widget">
                <a href="?q=jair+messias+bolsonaro&page=2" class="fundo-cor-produto pagination__load-more">Veja mais</a>
            </div>


        </div>
    </div>

</section>