<section id="content" class="container">
    
  <div class="results results--" data-request-time="0.402683019638">
    <div class="results__content">
      <ul class="results__list">
        <li class="widget widget--card widget--navigational" data-position="0">
  <div class="widget--navigational__page">
    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=0&r=1620886965137&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fpolitico%2Fjair-bolsonaro%2F&syn=False&key=6cb8074a6df1a744a773a0db9a276fab" class="widget--navigational__title cor-produto">Jair Bolsonaro</a>

    
      <p class="widget--navigational__publisher">g1</p>
    

    
  </div>

  
</li>

        
          <li class="widget widget--card widget--info" data-position="1">
  <div class="widget--info__meta--card">
    <span>Bom Dia Pará</span>
    <span>&bull;</span>
    <span>23/04/2021 10h29</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=1&r=1620886965394&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9459303%2F&syn=False&key=e43c073be9008c28647bcbdaa45680c4">
        
          <img src="//s04.video.glbimg.com/x216/9459303.jpg">
        
        
          <div class="widget--info__media-time">00:41</div>
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">Bom Dia Pará</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=1&r=1620886965396&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9459303%2F&syn=False&key=e43c073be9008c28647bcbdaa45680c4">
      <div class="widget--info__title product-color ">
        Presidente participa em Belém da entrega de alimentos do "Brasil Fraterno"
      </div>

      
        <p class="widget--info__description"><span><em>Jair</em> <em>Messias</em> <em>Bolsonaro</em> (Sem partido), chega à Belém na tarde desta sexta-feira, dia 23 de abril, para participar, às 15h30, da entrega de cestas de alimentos do programa Brasil Fraterno.</span></p>
      

      <div class="widget--info__meta">23/04/2021 10h29</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="2">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 1 dia</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=2&r=1620886965400&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsorocaba-jundiai%2Fnoticia%2F2021%2F05%2F11%2Fcamara-de-sorocaba-aprova-projetos-que-tornam-jair-e-eduardo-bolsonaro-cidadaos-sorocabanos.ghtml&syn=False&key=14a253961f3b66d5e132836685909a81">
        
          <img src="//s2.glbimg.com/agCJdZ0u6JNw4cIf8wbphVYAvBY=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/j/a/lJOQr6QVWHPzmK7cV9EQ/age20200331013.jpg">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=2&r=1620886965402&u=https%3A%2F%2Fg1.globo.com%2Fsp%2Fsorocaba-jundiai%2Fnoticia%2F2021%2F05%2F11%2Fcamara-de-sorocaba-aprova-projetos-que-tornam-jair-e-eduardo-bolsonaro-cidadaos-sorocabanos.ghtml&syn=False&key=14a253961f3b66d5e132836685909a81">
      <div class="widget--info__title product-color ">
        Câmara de Sorocaba aprova projetos que tornam Jair e Eduardo Bolsonaro cidadãos sorocabanos
      </div>

      
        <p class="widget--info__description"><span>Presidente da República, <em>Jair</em> <em>Bolsonaro</em>, tendo ao fundo seu filho, o deputado federal Eduardo <em>Bolsonaro</em>
DIDA SAMPAIO/ESTADÃO...</span> — <span>... CONTEÚDO
A Câmara de Sorocaba (SP) aprovou, nesta terça-feira (11), dois projetos que tornam o presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido...</span></p>
      

      <div class="widget--info__meta">há 1 dia</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="3">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 1 dia</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=3&r=1620886965406&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F11%2Fna-cpi-da-covid-barra-torres-apontara-medica-como-peca-chave-do-ministerio-paralelo-da-saude-do-governo-jair-bolsonaro.ghtml&syn=False&key=dc25eb74e9a475f461de535912b89555">
        
          <img src="//s2.glbimg.com/ZAyrBHObi4wyaeEuyfeJAcZ_hAs=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/q/w/3bzOnIRbK0Lspcl3bTuw/medica.png">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=3&r=1620886965409&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F11%2Fna-cpi-da-covid-barra-torres-apontara-medica-como-peca-chave-do-ministerio-paralelo-da-saude-do-governo-jair-bolsonaro.ghtml&syn=False&key=dc25eb74e9a475f461de535912b89555">
      <div class="widget--info__title product-color ">
        Na CPI da Covid, Barra Torres apontará médica como peça-chave do 'Ministério Paralelo da Saúde' do governo Jair Bolsonaro
      </div>

      
        <p class="widget--info__description"><span>... os senadores da CPI da Covid confirmarem a existência do "Ministério Paralelo da Saúde "do governo <em>Jair</em> <em>Bolsonaro</em> e ainda apontará...</span></p>
      

      <div class="widget--info__meta">há 1 dia</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="4">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 1 hora</span>
  </div>

  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=4&r=1620886965411&u=https%3A%2F%2Fg1.globo.com%2Fjornal-nacional%2Fnoticia%2F2021%2F05%2F12%2Fwajngarten-admite-que-governo-deixou-oferta-da-pfizer-dois-meses-sem-resposta.ghtml&syn=False&key=03fb81c759c9f873f315dc2c091e4dd8">
      <div class="widget--info__title product-color ">
        Wajngarten admite que governo deixou oferta da Pfizer dois meses sem resposta
      </div>

      
        <p class="widget--info__description"><span>... <em>Jair</em> <em>Bolsonaro</em>. O documento mostra que outras autoridades também receberam: ao vice-presidente Hamilton Mourão; os ex-ministros...</span> — <span>... sem resposta essa carta”. 
  
Wajngarten contou como informou ao presidente <em>Jair</em> <em>Bolsonaro</em> no mesmo dia em que tomou conhecimento...</span></p>
      

      <div class="widget--info__meta">há 1 hora</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="5">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>21/04/2021 12h45</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=5&r=1620886965415&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F20%2Fpresidente-bolsonaro-deve-receber-titulo-de-cidadao-amazonense-aprovado-pela-assembleia-legislativa.ghtml&syn=False&key=38b6075c17c7e14eed9eb5d7119ae2a8">
        
          <img src="//s2.glbimg.com/SvGd43_oqGTu7VMBcv5ZMzos8so=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/B/f/Ks4VAAQXyBTvAiGjrr4A/ancamento-da-pedra-fundamental-para-a-duplicacao-da-br-469santos-fc2708200923.jpg">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=5&r=1620886965417&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F20%2Fpresidente-bolsonaro-deve-receber-titulo-de-cidadao-amazonense-aprovado-pela-assembleia-legislativa.ghtml&syn=False&key=38b6075c17c7e14eed9eb5d7119ae2a8">
      <div class="widget--info__title product-color ">
        Presidente Bolsonaro deve receber título de Cidadão Amazonense aprovado pela Assembleia Legislativa
      </div>

      
        <p class="widget--info__description"><span>Presidente <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>
Carolina Antunes/Agência Brasil
A Assembleia Legislativa do Amazonas (Aleam) aprovou, na manhã...</span> — <span>... desta terça-feira (20), Projeto de Lei (PL) que concede o Título de Cidadão ao Presidente da República, <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>...</span></p>
      

      <div class="widget--info__meta">21/04/2021 12h45</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="6">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 1 dia</span>
  </div>

  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=6&r=1620886965420&u=https%3A%2F%2Fg1.globo.com%2Fjornal-nacional%2Fnoticia%2F2021%2F05%2F11%2Fsenado-aprova-projeto-do-governo-que-torna-pronampe-permanente.ghtml&syn=False&key=be3b873c34c04e02ec63767a40a82e11">
      <div class="widget--info__title product-color ">
        Senado aprova projeto do governo que torna Pronampe permanente
      </div>

      
        <p class="widget--info__description"><span>... parado desde dezembro. A proposta agora segue para a sanção do presidente <em>Jair</em> <em>Bolsonaro</em>.  ...</span></p>
      

      <div class="widget--info__meta">há 1 dia</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="7">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 30 minutos</span>
  </div>

  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=7&r=1620886965425&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F12%2F45percent-reprovam-governo-bolsonaro-e-24percent-aprovam-aponta-pesquisa-datafolha.ghtml&syn=False&key=583472ed9713407badb321679bddfc24">
      <div class="widget--info__title product-color ">
        45% reprovam governo Bolsonaro e 24% aprovam, aponta pesquisa Datafolha
      </div>

      
        <p class="widget--info__description"><span>... pontos percentuais a aprovação ao governo <em>Bolsonaro</em> e cresceu 1 ponto percentual a reprovação ao governo.
Veja os resultados...</span></p>
      

      <div class="widget--info__meta">há 30 minutos</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="8">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 13 horas</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=8&r=1620886965431&u=https%3A%2F%2Fg1.globo.com%2Fac%2Facre%2Fnoticia%2F2021%2F05%2F11%2Ffantasiado-de-jacare-estudante-do-acre-e-vacinado-contra-covid-19-uma-piada-e-critica.ghtml&syn=False&key=b29e6ede477a0cbb01e29cc306a55a3b">
        
          <img src="//s2.glbimg.com/mhizGiqOY2NsQA8YSc_Yfcibakk=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/V/SEgwxTQWuw7FAQbtIyyw/vac.jpg">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=8&r=1620886965433&u=https%3A%2F%2Fg1.globo.com%2Fac%2Facre%2Fnoticia%2F2021%2F05%2F11%2Ffantasiado-de-jacare-estudante-do-acre-e-vacinado-contra-covid-19-uma-piada-e-critica.ghtml&syn=False&key=b29e6ede477a0cbb01e29cc306a55a3b">
      <div class="widget--info__title product-color ">
        Fantasiado de jacaré, estudante do Acre é vacinado contra Covid-19: 'uma piada e crítica'
      </div>

      
        <p class="widget--info__description"><span>... das pessoas, mas que o ato também foi uma ironia a um comentário do presidente da República, <em>Jair</em> <em>Bolsonaro</em>, em dezembro de 2020...</span></p>
      

      <div class="widget--info__meta">há 13 horas</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="9">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>22/04/2021 22h50</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=9&r=1620886965437&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F22%2Fprofessores-e-historiadores-devolvem-honrarias-em-protesto-contra-titulo-de-cidadao-do-am-a-bolsonaro.ghtml&syn=False&key=67729f34b724cb4c3d4fc123729b5965">
        
          <img src="//s2.glbimg.com/jg6TkH1orf-hF9m-vfhyt3CNyMw=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/N/9/hi6XA0RYqosHWtQVcKew/professoreshistoriadoresbolsonaro.png">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=9&r=1620886965440&u=https%3A%2F%2Fg1.globo.com%2Fam%2Famazonas%2Fnoticia%2F2021%2F04%2F22%2Fprofessores-e-historiadores-devolvem-honrarias-em-protesto-contra-titulo-de-cidadao-do-am-a-bolsonaro.ghtml&syn=False&key=67729f34b724cb4c3d4fc123729b5965">
      <div class="widget--info__title product-color ">
        Professores e historiadores devolvem honrarias em protesto contra título de cidadão do AM a Bolsonaro
      </div>

      
        <p class="widget--info__description"><span>... de não merecimento da concessão do título à <em>Bolsonaro</em>.
Presidente <em>Jair</em> <em>Messias</em> <em>Bolsonaro</em>.
Carolina Antunes/Agência Brasil
"O governo...</span> — <span>... contra a concessão do título de Cidadão do Amazonas ao presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido). O ato aconteceu nesta quinta-feira (22...</span></p>
      

      <div class="widget--info__meta">22/04/2021 22h50</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="10">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 3 horas</span>
  </div>

  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=10&r=1620886965444&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F12%2Fcpi-aziz-suspende-sessao-apos-flavio-bolsonaro-chamar-renan-calheiros-de-vagabundo.ghtml&syn=False&key=4c1f70cd5481583db20dd0f565f52808">
      <div class="widget--info__title product-color ">
        Aziz suspende reunião da CPI após Flavio Bolsonaro chamar Renan Calheiros de 'vagabundo'
      </div>

      
        <p class="widget--info__description"><span>Flavio <em>Bolsonaro</em> discute com Renan Calheiros na CPI da Covid
O senador Omar Aziz (PSD-AM), presidente da CPI da Covid, suspendeu...</span> — <span>... a reunião da comissão por volta das 17h10 desta quarta-feira (12), após o senador Flavio <em>Bolsonaro</em> (Republicanos-RJ) ter chamado...</span></p>
      

      <div class="widget--info__meta">há 3 horas</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="11">
  <div class="widget--info__meta--card">
    <span>Jornal de Rondônia 1ª Edição</span>
    <span>&bull;</span>
    <span>há 4 dias</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=11&r=1620886965449&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9499709%2F&syn=False&key=cc9ef69a439def97b0274cc8a311966f">
        
          <img src="//s02.video.glbimg.com/x216/9499709.jpg">
        
        
          <div class="widget--info__media-time">03:27</div>
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">Jornal de Rondônia 1ª Edição</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=11&r=1620886965451&u=https%3A%2F%2Fgloboplay.globo.com%2Fv%2F9499709%2F&syn=False&key=cc9ef69a439def97b0274cc8a311966f">
      <div class="widget--info__title product-color ">
        Presidente Jair Bolsonaro estava presente na inauguração da Ponte do Abunã
      </div>

      
        <p class="widget--info__description">Presidente falou sobre pandemia e sobre importância do comércio.</p>
      

      <div class="widget--info__meta">há 4 dias</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="12">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 5 horas</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=12&r=1620886965456&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F12%2Fbolsonaro-promoveu-pazuello-quatro-dias-apos-saber-que-ele-ignorava-vacina-da-pfizer.ghtml&syn=False&key=60da8357fc01340db05cd52ed0d3d8e5">
        
          <img src="//s2.glbimg.com/zlWggWaOCRHanvHSGjlVIHTMh7s=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/O/R/IFAdxKTiAf9nfSbnidXA/2021-03-15t211600z-1229791932-rc2xbm9bpda1-rtrmadp-3-health-coronavirus-brazil.jpg">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=12&r=1620886965459&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fblog%2Foctavio-guedes%2Fpost%2F2021%2F05%2F12%2Fbolsonaro-promoveu-pazuello-quatro-dias-apos-saber-que-ele-ignorava-vacina-da-pfizer.ghtml&syn=False&key=60da8357fc01340db05cd52ed0d3d8e5">
      <div class="widget--info__title product-color ">
        Bolsonaro promoveu Pazuello quatro dias após saber que ele ignorava vacina da Pfizer
      </div>

      
        <p class="widget--info__description"><span>... estava ignorando ofertas da vacina da Pfizer que poderiam salvar milhares de vidas, o presidente <em>Jair</em> <em>Bolsonaro</em> (sem partido...</span> — <span>... sobre a omissão de Pazuello consta numa carta enviada a <em>Bolsonaro</em> pelo CEO da Pfizer, Albert Boula, em 12 de setembro de 2020 (assista no vídeo...</span></p>
      

      <div class="widget--info__meta">há 5 horas</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="13">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 6 horas</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media widget--info__media--video" href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=13&r=1620886965463&u=https%3A%2F%2Fg1.globo.com%2Ffato-ou-fake%2Fnoticia%2F2021%2F05%2F12%2Fe-fake-que-foto-mostre-paraquedistas-e-motoqueiros-em-ato-de-apoio-a-bolsonaro.ghtml&syn=False&key=65d19cdcb02410d531a0ea21fd774e7a">
        
          <img src="//s2.glbimg.com/SgS4BWZ3hVlkWLswxl1Sf9TkW0A=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/8/U/0GvjpSTi2wAYdbSxI0Mg/header-materia-fato-ou-fake-ponte-paraquedista.jpg">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=13&r=1620886965466&u=https%3A%2F%2Fg1.globo.com%2Ffato-ou-fake%2Fnoticia%2F2021%2F05%2F12%2Fe-fake-que-foto-mostre-paraquedistas-e-motoqueiros-em-ato-de-apoio-a-bolsonaro.ghtml&syn=False&key=65d19cdcb02410d531a0ea21fd774e7a">
      <div class="widget--info__title product-color ">
        É #FAKE que foto mostre paraquedistas e motoqueiros em ato de apoio a Bolsonaro
      </div>

      
        <p class="widget--info__description"><span>... que pairam sobre a comitiva. Uma legenda diz que a foto mostra o apoio ao presidente <em>Bolsonaro</em> na inauguração da ponte de Abunã...</span> — <span>.... A agência AFP Fact Check também fez uma checagem a respeito, desmentindo o boato.
<em>Bolsonaro</em>, de fato, participou da cerimônia...</span></p>
      

      <div class="widget--info__meta">há 6 horas</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="14">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 7 horas</span>
  </div>

  
    <div class="widget--info__media-container ">
      <a class="widget--info__media " href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=14&r=1620886965469&u=https%3A%2F%2Fg1.globo.com%2Frj%2Frio-de-janeiro%2Fnoticia%2F2021%2F05%2F12%2Fjustica-arquiva-investigacao-contra-felipe-neto-por-ter-chamado-bolsonaro-de-genocida.ghtml&syn=False&key=e73f226dab652946f1aeb0e7505d1b59">
        
          <img src="//s2.glbimg.com/AHY2z6Qb80LRZa_V9F_A5GdWXz4=/346x195/smart/http%3A//i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/E/h/jc5AFCTJq5Q32BpTmtBw/bolsonaro-felipeneto.jpg">
        
        
      </a>
    </div>
  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=14&r=1620886965472&u=https%3A%2F%2Fg1.globo.com%2Frj%2Frio-de-janeiro%2Fnoticia%2F2021%2F05%2F12%2Fjustica-arquiva-investigacao-contra-felipe-neto-por-ter-chamado-bolsonaro-de-genocida.ghtml&syn=False&key=e73f226dab652946f1aeb0e7505d1b59">
      <div class="widget--info__title product-color ">
        Justiça arquiva investigação contra Felipe Neto por ter chamado Bolsonaro de genocida
      </div>

      
        <p class="widget--info__description"><span>... determinou o arquivamento da investigação contra o youtuber e influenciador Felipe Neto por ter chamado o presidente <em>Jair</em> <em>Bolsonaro</em>...</span> — <span>... após pedido do filho de <em>Jair</em>, Carlos <em>Bolsonaro</em>. 
A investigação estava por conta da Delegacia de Repressão a Crimes de Informática...</span></p>
      

      <div class="widget--info__meta">há 7 horas</div>
    </a>
  </div>
</li>
        
          <li class="widget widget--card widget--info" data-position="15">
  <div class="widget--info__meta--card">
    <span>G1</span>
    <span>&bull;</span>
    <span>há 7 horas</span>
  </div>

  

  

  <div class="widget--info__text-container">
    
      <div class="widget--info__header">G1</div>
    

    <a href="//g1.globo.com/busca/click?q=jair+messias+bolsonaro&p=15&r=1620886965475&u=https%3A%2F%2Fg1.globo.com%2Fpolitica%2Fnoticia%2F2021%2F05%2F12%2Fwajngarten-cpi.ghtml&syn=False&key=b1f0d8e2f780429dd4909fe831077753">
      <div class="widget--info__title product-color ">
        Questionado sobre declarações de Bolsonaro contra vacinas, Wajngarten responde 'pergunte a ele' e irrita CPI
      </div>

      
        <p class="widget--info__description"><span>... questionado sobre frases do presidente <em>Jair</em> <em>Bolsonaro</em> contra as vacinas. Wajngarten respondeu: "Pergunte para ele".
O relator, Renan...</span> — <span>... Calheiros (MDB-AL), queria saber se as declarações de <em>Bolsonaro</em> contrárias a vacinas causavam impacto na população. Wajngarten...</span></p>
      

      <div class="widget--info__meta">há 7 horas</div>
    </a>
  </div>
</li>
        
      </ul>

      
  
    <div class="pagination widget">
       <a href="?q=jair+messias+bolsonaro&page=2" class="fundo-cor-produto pagination__load-more">Veja mais</a>
    </div>
  

    </div>
  </div>

  </section>